body{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700;
    margin: 0;
  
  }
body {
  background-color: #b3d9ff;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.body_section{
    padding : 3% 5% 1%;
}
  
  a{
    text-decoration: none;
  }
  
   @font-face{
    font-family: "Lovely Home";
    src:local('Lovely Home'), 
    url("Image/LovelyHome-9aBZ.ttf") format('truetype');

  }

.brand-name ,.navbar-light .navbar-brand{
      /* font-family: "Brush Script MT"; */
      /* margin-bottom: 3px; */
      font-family: "Lovely Home";
      font-size: 50px;
      font-weight: bold;
  }
  @media only screen and (max-width : 764px){
      .brand-name ,.navbar-light .navbar-brand{
      font-family: "Lovely Home";
      font-size: 40px;
      font-weight: bold;
}
  
  .headerachor {
    color: black;
    margin: 0 7px 0 7px;
    font-size: 25px;
  }
  
  .headerachor:hover {
    background-color: #f1f1f1;
  }

